In [4]:

#Panda is a library.it includes table,file reading,database related.
import pandas as pd

In [ ]:
#Load the dataset

In [5]:
dataset=pd.read_csv("Salary_Data.csv")

In [ ]:
#print dataset

In [6]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
#input/output split
#independent is input,it refers years of experience

In [7]:
independent=dataset[["YearsExperience"]]

In [8]:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [ ]:
#dependent is output,it refers salary

In [9]:
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [ ]:
#train and test split
#sklearn library is  used to split train and test model

In [10]:
from sklearn.model_selection import train_test_split
#train_test_split is called parameterised function
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [ ]:
#This is learning phase
#linear regression function is create the model

In [14]:
from sklearn.linear_model import LinearRegression
regressor =LinearRegression()
#Here take training set input and training set output.After the execution of fit methodto calculate weight and bias.
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#To calculate weight

In [15]:
weight=regressor.coef_
weight

array([[9360.26128619]])

In [ ]:
#To calculate bias

In [16]:
bias=regressor.intercept_
bias

array([26777.3913412])

In [ ]:
#Evoluation is cross check for learning of AI.predict is function of application.
#Evoluation is correct.after to give input X_test.

In [17]:
y_pred=regressor.predict(X_test)

In [ ]:
#To find r2 score,to take actual outputand predict.

In [18]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [ ]:
#r2_score is 1- better value
#r2_score is 0- poor value

In [19]:
r_score

0.9740993407213511

In [ ]:
#pickle is uesd to save model creation
#create file name with extension of save.sav

In [20]:
import pickle
filename="finalized_model_linear.sav"

In [21]:
pickle.dump(regressor, open(filename,"wb"))

In [ ]:
#open the file in folder and save the model,it is used to end user

In [ ]:
#load the model 
#rb is just read

In [22]:
loaded_model=pickle.load(open("finalized_model_linear.sav","rb"))
result=loaded_model.predict([[15]])

In [ ]:
#we check it and prediction we can do it.

In [23]:
result

array([[167181.3106341]])